{% extends "layout.html" %}
{% block playlist_block %}

<div class="table-responsive">
    <table class="table rounded table-striped table-dark table-hover">
        <caption>List of users</caption>
            <thead class="rounded thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Album</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Popularity</th>
                    <th scope="col">Danceability</th>
                    <th scope="col">Energy</th>
                    <th scope="col">Key</th>
                    <th scope="col">Tempo</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
                <tbody>
                    {% for song in playlist_selected.songs %}
                    <tr>
                        <td>{{song.name}}</td>
                        <td>{{song.album}}</td>
                        <td>{{song.artist}}</td>
                        <td>{{song.popularity}}</td>
                        <td>{{song.danceability}}</td>
                        <td>{{song.energy}}</td>
                        <td>{{song.key}}</td>
                        <td>{{song.tempo}}</td>
                        <td>{{song.time_signature}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>
</div>
{% endblock playlist_block %}
{% block create_comment %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock create_comment %}
{% block comment_block %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock comment_block %}
