{% extends "layout.html" %}
{% block home_block %}
    {% for post in posts_var %}
        <h1>{{ post.title }}</h1>
        <p>By {{ post.author }}</p>
        <p>{{ post.content }}</p>
    {% endfor %}
{% endblock home_block %}
{% block comment_block %}
    {% for post in posts_var %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock comment_block %}
